.App {
  display: grid;
  grid-template:
    "nav-bar main side-bar" auto
    "nav-bar main side-bar" auto
    "nav-bar main side-bar" auto/
    370px 600px auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* NAVBAR*/
.nav-bar {
  grid-area: nav-bar;
  position: fixed;
  text-align: left;
  margin-left: 80px;
  border-right:thin solid rgba(220, 220, 220, 0.439) ;
  padding-right: 30px;
  height: 1000px;
  width: 250px ;
}
.nav-bar ul{
  list-style: none;
  margin-top: 30px;
  font-weight:470;
  display: grid;
  grid-auto-flow: row;
  gap:5px
}
.logo-image-btn {
  padding-left: 20px;
  margin-top: 17px;
  border: none;
  background-color: transparent;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar-lists img {
  margin-right: 15px;
}
.nav-bar-lists {
  padding-left: 10px;
  display: grid;
  grid-auto-flow: row;
}

.nav-bar-list{
  display: inline;
  padding-left: 40px;

}
.nav-bar-list-btn {
  border: none;
  background-color: transparent;
  padding-left: 10px;
  grid-auto-flow: column;
  width: auto;
  height: 50px;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-bar-list-btn:hover {
  background-color: rgba(220, 220, 220, 0.728);
  border-radius: 25px;
}

.loged-in-btn {
  margin-top: 50px;
  width:220px;
  height: 70px;
  margin-left: 15px;
  margin-top: 50px;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  font-size: 14px;
  align-content: center;
  text-align: center;
}
.loged-in-btn p{
  color: gray;
}
.loged-in-btn:hover {
  background-color: rgba(220, 220, 220, 0.536);
}
.loged-in-btn img{
  margin-top: 20px;
  float: inline-start;
  border-radius: 30px;
  margin-right: 10px;
}
.loged-in{
  display:table-row;
  margin-bottom: 5px;
}

.tweet-btn {
  width:220px;
  height: 50px;
  margin-left: 15px;
  margin-top: 10px;
  border: none;
  border-radius: 30px;
  background-color: #1d9bf0;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.tweet-btn:hover {
  background-color:#177bbdec;
}
/* NAVBAR - ENDS*/


/* SIDEBAR */
.side-bar{
  grid-area: side-bar;
  padding-right: 20px;
}

#side-bar-search {
  margin: 5px;
  width: 330px;
  height: 50px;
  background-color: rgba(220, 220, 220, 0.351);
  border-radius: 30px;
  padding-left:20px ;
  font-size: 14px;
  border: none;
}
#side-bar-search::placeholder {
  color: gray;
  font-weight: 500;
}
#side-bar-search:focus{
  outline: none;
  border: thin solid #1d9bf0;
  box-shadow: 0px 0px 2px 0px #1d9cf05c;
  background-color: transparent;
}
.trends-for-you{
  border-radius: 25px;
  background-color: rgba(220, 220, 220, 0.161);
  font-size: 12px;
  margin-top: 10px;
  margin-right: 110px;
  padding: 10px;
}
.trends-for-you h2{
  margin-left: 25px;
}
.trends-for-you h3{
  margin-left: 10px;
}
.trends-for-you a{
  color: #1d9bf0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.trends-for-you p{
  color: gray;
  margin: 10px;
}

.trends-for-you ul{
  list-style: none;
}
.trendings:hover{
  background-color: rgba(220, 220, 220, 0.306);
  border-radius: 10px;
}
.who-to-follow {
  border-radius: 25px;
  background-color: rgba(220, 220, 220, 0.161);
  font-size: 14px;
  margin-top: 10px;
  margin-right: 110px;
  padding: 10px;
}
.who-to-follow h2{
  margin-left: 20px;
}
.who-to-follow a{
  color: #1d9bf0;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}
.who-to-follow p{
  color: gray;
}
.who-to-follow ul{
  list-style: none;
}
.who-to-follow li:hover{
  background-color: rgba(220, 220, 220, 0.306);
  border-radius: 10px;
}
.people-to-follow{
  display: grid;
  grid-auto-flow: column;
}
.people-to-follow img{
  border-radius: 60px;
  margin-right: 15px;
  margin-top:15px;
  margin-left: 10px;
}
.people-to-follow button{
  border: none;
  background-color:#1d1d1d;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 25px;
  margin-right: 10px;
}
.names{
  float: inline-start;
  width: 200px;
}
.term{
  display: inline;
}

.term:hover {
  text-decoration: underline;
}
.terms a{
  text-decoration: none;
  color: rgb(74, 74, 74);
}
.terms ul{
  list-style: none;
  font-size: 13px;
  margin-right:50px ;
}

/* SIDEBAR - ENDS */


/* MAIN */
main {
  grid-area: main;
  display: grid;
  grid-template:
    "header" 50px
    "main-part" auto/
    auto;
}
.header{
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  position: fixed;
  width: auto;
  background-color: rgba(255, 255, 255, 0.943);
  gap:500px;
}
.header img {
  margin: 0 auto;
    float: right;
    margin-right: 20px;
    margin-top: 15px;
}
.main-part {
  grid-area: main-part;
}

.box-picture {
  display: grid;
  grid-template-columns:  60px 60px;;
  align-items: flex-start;
}
.box-picture img{
  margin-top: 15px;
  border-radius: 30px;
}
.input-tweet {
  margin-left: 60px;
}
.input-tweets{
  width: 400px;
  height: 40px;
  border: none;
  font-size: 22px;
}
.input-tweets::placeholder {
  color: rgb(91, 89, 89);
}
.input-tweets:focus{
  outline: none;
}

.everyone-btn {
  margin-top: 15px;
  border: thin solid gainsboro;
  background-color: transparent;
  border-radius: 25px;
  height: auto;
  font-size: 14px;
  width: 110px;
  float: right;
}
.everyone-btn a{
  list-style: none;
  text-decoration: none;
  color:#1d9bf0 ;
  font-weight: 700;
}
.everyone-btn:hover{
  background-color: #6eb8ea3e;
}

.tweet-btn-line {
  display: grid;
  grid-auto-flow: column;
  border-bottom:thin solid rgba(220, 220, 220, 0.439) ;
  padding-bottom: 10px;
  padding-left: 50px;
}
.tweet-btn-line-list button{
  border: none;
  background-color: transparent;
}
.tweet-btn-line-list button:hover {
  border-radius: 30px;
  border:thin solid #1d9cf03b;
}
.submit-tweet-btn {
  border: none;
  background-color:#1d9cf09b;
  border-radius: 30px;
  width: 100px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  float:inline-end;
}
.submit-tweet-btn:hover {
  background-color:#1d9bf0 ;
}
/* MAIN - ENDS*/